<div>
  <h4>Bugs List</h4>
  <mat-divider class="mb-3"></mat-divider>
  <mat-card>
<form (ngSubmit)="search()" [formGroup]="bugSearchForm">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Priority" formControlName="priority">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reporter" formControlName="reporter">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>Search
      </button>
    </form>
<a mat-mini-fab color="accent" class="ml-auto" style="display:block;" [routerLink]="['/add-bug']" matTooltip="Add a new bug" matTooltipPosition="left">
      <fa name="plus" size="lg"></fa>
    </a>
    <mat-table [dataSource]="listOfBugs">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let bug">
          {{bug.id}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.priority}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reporter">
        <mat-header-cell *matHeaderCellDef>Reporter</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.reporter}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Date Created</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.createdAt | date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.status}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <!-- <mat-paginator [length]="this.dataSource.totalApplications" -->
    <!-- [pageSizeOptions]="[5, 10, 20, this.dataSource.totalApplications]" [showFirstLastButtons]="true"></mat-paginator> -->
  </mat-card>

</div>

{{bugSearchForm.value | json}}
