<div>
  <h4>Bugs List</h4>
  <mat-divider class="mb-3"></mat-divider>
  <mat-card>
    <form (ngSubmit)="search()" [formGroup]="bugSearchForm" style="display: flex;align-items:center;">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let priority of priorityOptions" [value]="priority[1]">
            {{priority[0]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Reporter</mat-label>
        <mat-select formControlName="reporter">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let reporter of roleOptions" [value]="reporter">
            {{reporter}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let status of statusOptions" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="ml-2 mb-2">
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button color="accent" (click)="clearFilters()" class="ml-2 mb-2">
        <mat-icon>replay</mat-icon>Clear
      </button>


      <a mat-mini-fab color="accent" class="ml-auto add-button" [routerLink]="['/add-bug']" matTooltip="Add a new bug"
        matTooltipPosition="left">
        <fa name="plus" size="lg"></fa>
      </a>
    </form>

    <div class="p-2 m-2 text-center" *ngIf="listOfBugs.loading$ | async">
      <h5 class="mb-1">Please wait</h5>
      <mat-progress-spinner color="primary" mode="indeterminate" class="m-auto"></mat-progress-spinner>
    </div>
    <mat-table [class.hidden]="(listOfBugs.loading$ | async)" matSort (matSortChange)="sortData($event)" [dataSource]="listOfBugs">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let bug">
          {{bug.id}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.priority}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reporter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Reporter</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.reporter}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>Date Created</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.createdAt | date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          {{bug.status}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef>Actions

        </mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let bug">
          <a [routerLink]="['/edit-bug', bug.id]" matTooltip="Edit Bug" matTooltipPosition="left">
            <mat-icon>edit</mat-icon>
          </a>
          <a (click)="delete(bug.id)" style="cursor:pointer;" matTooltip="Delete Bug" matTooltipPosition="left">
            <mat-icon color="error">delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="listOfBugs.totalRecords" [pageSize]="5"
      [pageSizeOptions]="[5,10,20,listOfBugs.totalRecords]"></mat-paginator>
  </mat-card>

</div>

<!-- {{bugSearchForm.value | json}} -->
