<div id="loginForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 m-auto">
      <mat-card *ngIf="!restApi.loggedUser; else logged ">
        <mat-card-header class="text-center">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #loginForm="ngForm" class="mb-5">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" name="username" type="text" [(ngModel)]="user.username" />
              <label for="password">Password</label>
              <input class="form-control" name="password" type="password" [(ngModel)]="user.password" />
            </div>

            <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
          </form>
          <div class="mt-5" style="color:gray;">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <strong class="m-auto">Hint: Sample Users</strong>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item *ngFor="let sampleUser of sampleUsers;" style="height:20px;">
                  {{sampleUser.username}} / {{sampleUser.password}} (Role {{sampleUser.role}})
                </mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </div>
        </mat-card-content>
      </mat-card>

      <ng-template #logged>
        <mat-card>
          <mat-card-content>
            <h5> Welcome {{user.username}}, with role {{user.role.toString()}}</h5>
            <button mat-raised-button color="warning" type="submit" (click)="logout()">Logout</button>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>
